@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;

    

}

main{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.containernav {
    display: flex;
    align-items: center;
    justify-content: space-around;
        background-color: rgb(72, 85, 95);
}

header {
    padding: 20px 0;
    display: flex;
    align-items: center;
    align-content: center;
}

header nav {
    display: flex;
}

nav ul {
    display: flex;
    padding: 20px;
    list-style: none;
    gap: 70px;
    color: #fff;
    align-items: center;
}

.home {
    background-color: rgb(57, 58, 59);
    border-radius: 15px;
    padding: 5px 20px;

}

.primeraseccion {
    background-color: rgb(72, 85, 95);
    display: flex;
    height: 62vh;
    padding: 0 130px;

}

.imagen {
    margin: 50px 200px;

}

.imagen img {
    width: 120%;
}

.textoprimeraseccion {
    display: block;
    align-items: center;
    align-content: center;
}

.textoprimeraseccion h1 {
    color: white;
    font-size: 60px;
    padding: 10px 0;
}

.parrafounoprimeraseccion {
    color: white;
    font-size: 20px;
    padding: 0 0 20px 0;
}

.parrafodosprimeraseccion {
    color: #ffffff93;
}

.botonesprimeraseccion {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 40px 0 0 0;
    justify-content: space-evenly;
}

.botonesprimeraseccion a {
    text-decoration: none;
}

.botonuno {
    background-color: rgb(94, 152, 209);
    color: white;
    padding: 10px 40px;
    box-shadow: 0 5px 10    px rgba(0, 0, 0, 0.354);
    border-radius: 50px;
}
.or{
    color: white;
}
.botondos{
    color: white;
    border-bottom: 1px solid white;
}

.segundaseccion{
    background-color: rgb(220, 216, 216);
}

.imagenessegundaseccion{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
